@use '../../scss/' as *;

.mole {
  width: 100%;
  max-width: 150px;
  height: auto;
  text-align: center;
  @include flex(center, center);

  img {
    @include flex(center, center);
    width: 100%;
    height: auto;
  }

  &:hover {
    cursor: url(../../assets/Hammer.gif), auto;
  }
}
