@use '../../scss/' as *;

.finalScoreModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.finalScoreModal {
  background-color: $black;
  padding: 2rem;
  border-radius: $border-radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  text-align: center;
  max-width: 600px;
  width: 100%;
  color: $white;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: $primary-color;
  }
  h3 {
    font-size: 1.4rem;
  }

  p {
    font-size: 1.2rem;
    margin: 1rem 0;
    color: $white;
  }

  .trophy {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: gold;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
  }

  .close-modal {
    margin-top: 1.5rem;
    padding: 0.7rem 1.5rem;
    background-color: $primary-color;
    color: $white;
    border: none;
    border-radius: $border-radius;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}
