@use '../../scss/' as *;
.scoreboard {
  width: 80%;
  color: $white;
  background-image: url(./../../../src/assets/woodBg.jpg);
  @include imageBg();
  border-radius: 0.5rem;
  @include flex(center, center);
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;
  -webkit-text-stroke-width: 0.3px;
  -webkit-text-stroke-color: $secondary-color;

  h2 {
    -webkit-text-stroke-width: 0.6px;
  }

  &-list {
    width: 60%;
    padding: 0.5rem;

    &_item {
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      color: $white;
      font-size: 1.2rem;

      /* Gold */
      &:nth-child(1) {
        background: gold;
        color: black;
        .user-score {
          &::before {
            content: '🥇';
            padding-right: 0.5rem;
          }
        }
      }
      /* Silver */
      &:nth-child(2) {
        background: #c0c0c0;
        color: black;
        .user-score {
          &::before {
            content: '🥈';
            padding-right: 0.5rem;
          }
        }
      }
      /* Bronze */
      &:nth-child(3) {
        background: #cd7f32;
        color: black;
        .user-score {
          &::before {
            content: '🥉';
            padding-right: 0.5rem;
          }
        }
      }
    }
  }

  .btn-finish {
    padding: 1rem 2.8rem !important;
    font-size: 1.5rem !important;
    width: 15rem;
  }
}
