@use '../../scss/' as *;
.scoreboard {
  width: 80%;
  color: $white;
  background-image: url(./../../../src/assets/woodBg.jpg);
  @include imageBg();
  border-radius: 0.5rem;
  @include flex(center, center);
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 1rem;

  &-list {
    width: 100%;
    padding: 0.5rem;

    @include mobile {
      width: 60%;
    }

    .active {
      border: 2px solid $white;
      box-shadow: 0 0 10px 0 $primary-color inset, 0 0 10px 4px $primary-color;
      .user-name {
        &::after {
          content: '🎉';
          padding-right: 0.5rem;
        }
      }
    }

    &_item {
      padding: 0.5rem;
      display: flex;
      justify-content: space-between;
      color: $white;
      font-size: 1.2rem;

      /* Gold */
      &:nth-child(1) {
        background: gold;
        color: black;
        .user-score {
          &::before {
            content: '🥇';
            padding-right: 0.5rem;
          }
        }
      }
      /* Silver */
      &:nth-child(2) {
        background: #c0c0c0;
        color: black;
        .user-score {
          &::before {
            content: '🥈';
            padding-right: 0.5rem;
          }
        }
      }
      /* Bronze */
      &:nth-child(3) {
        background: #cd7f32;
        color: black;
        .user-score {
          &::before {
            content: '🥉';
            padding-right: 0.5rem;
          }
        }
      }
    }
  }
}
