* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-color: green;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .wrapper {
    padding: 2rem;
    width: 50rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    &-start {
    }
    &-play {
    }
    &-finish {
    }
  }
}
