@use './scss/' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  max-height: 100%; // Ensure the background is 100% height of the viewport
  // Prevent scrolling when not necessary
}

.app {
  background-image: url(../src/assets/WAM_bg.jpg); // The main background for the game
  @include imageBg();
  width: 100%;
  height: 100vh; // Full height view based on the viewport
  @include flex(center, center);
  margin: 0 auto;
  overflow: hidden;

  h2 {
    -webkit-text-stroke-width: 0.05px;
    -webkit-text-stroke-color: $secondary-color;
  }

  h1 {
    font-size: 3rem;
    color: $white;
    text-align: center;
    line-height: 1.1;

    @include tablet {
      font-size: 5rem;
    }
  }

  h2 {
    font-size: 2rem;
    font-weight: 300;

    @include tablet {
      font-size: 3.5rem;
    }
  }

  h3 {
    font-size: 1.3rem;

    @include tablet {
      font-size: 2rem;
    }
  }

  li {
    list-style: none;
  }

  button {
    font-family: 'Special Elite', cursive, sans-serif;
  }

  .wrapper {
    padding: 1rem;
    max-width: 60rem;
    min-height: 100vh;

    @include tablet {
      width: 60rem;
      padding: 2rem;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &-start {
      @include flex(center, center);
      flex-direction: column;
      min-height: 100vh;
      width: 100%;

      &_content {
        @include flex(center, center);
        flex-direction: column;
        background-image: url(../src/assets/woodBg.jpg);
        @include imageBg();
        width: 100%;
        max-width: 31rem;
        padding: 1rem;
        gap: 2rem;
        border: 2px $secondary-color solid;
        border-radius: $border-radius;

        @include tablet {
          width: 31rem;
          padding: 2rem;
        }
      }
    }

    &-play {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      gap: 4rem;

      &_nav {
        background-image: url(../src/assets/woodBg.jpg);
        @include imageBg();
        background-size: cover;
        background-position: center;
        padding: 0.5rem 1rem;
        border: 2px $secondary-color solid;
        border-radius: $border-radius;

        display: flex;
        justify-content: space-between;
        align-items: center;

        @include mobile {
          padding: 1rem 2rem;
        }

        .nav-item {
          color: $white;
          font-family: 'Special Elite', cursive, sans-serif;
        }

        .end-game-button {
          background-color: $white;
          color: $primary-color;
          border: none;
          border-radius: 0.5rem;
          padding: 0.5rem 1rem;
          font-family: 'Special Elite', cursive, sans-serif;
          font-size: 1.2rem;
          cursor: pointer;
        }
      }
    }

    &-finish {
      @include flex(center, center);
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem;
      width: 100%;
      max-height: 100vh;
      overflow: hidden;
    }
  }
}
