* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app {
  background-image: url(../src/assets/WAM_bg.jpg);
  width: 100%;
  height: 40rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;

  h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Modak', cursive;
  }

  li {
    list-style: none;
  }

  .wrapper {
    padding: 2rem;
    width: 60rem;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      box-sizing: border-box;
      appearance: none;
      background-color: transparent;
      border: 2px solid #deb887;
      border-radius: 0.6rem;
      color: #deb887;
      cursor: pointer;
      font-size: 1rem;
      line-height: 1;
      margin: 20px;
      padding: 1.2rem 2.8rem;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      font-weight: 700;

      &:hover,
      &:focus {
        color: #fff;
        outline: 0;
      }
    }

    &-start {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      height: 100vh;
      width: 100%;

      &_content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-image: url(../src/assets/woodBg.jpg);
        width: 31rem;
        padding: 2rem;
        gap: 2rem;
        border: 2px #74542b solid;
        border-radius: 1rem;
        h1 {
          color: #fff;
          text-align: center;
          line-height: 1.1;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: #74542b;
          font-weight: 800;
          font-size: 5rem;
        }

        .btn-start {
          display: flex;
          align-items: center;
          gap: 1rem;
          border-color: #74542b;
          color: #fff;

          box-shadow: 0 0 40px 40px #deb887 inset, 0 0 0 0 #deb887;
          transition: all 150ms ease-in-out;

          &:hover {
            box-shadow: 0 0 10px 0 #deb887 inset, 0 0 10px 4px #deb887;
            color: #deb887;
            background-color: #fff;
            border-color: #deb887;
          }
        }
      }
    }
    &-play {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    &-finish {
      display: flex;
      flex-direction: column;

      justify-content: center;
      gap: 4rem;
      height: 100vh;
      width: 100%;
    }
  }
}
