$primary-color: #deb887;
$secondary-color: #74542b;

$white: #ffffff;
$black: #000000;

$box-shadow: 0 0 10px 0 #deb887 inset, 0 0 10px 4px #deb887;

$border-radius: 0.5rem;

$mobile-width: 600px;
$tabletLarge: 910px;
$desktop: 1024px;

$font-family: 'Special Elite', cursive, sans-serif;

$color-palette: (
  //add here the pair value content of _colors
  black: '#000',
  white: '#fff',
  blue: '#0000ff'
) !default;
